﻿@model IEnumerable<studia22.Models.Studenci>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PESEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_urodzenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.miejscowosc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kierunek_studiow)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PESEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_urodzenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.miejscowosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kierunek_studiow)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.nr_albumu }) |
            @Html.ActionLink("Details", "Details", new { id=item.nr_albumu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.nr_albumu })
        </td>
    </tr>
}

</table>
