﻿@model studia22.Models.Oceny

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie oceny</h2>

<div>
    <h4>Oceny</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt/>@Html.DisplayNameFor(model => model.ocena)
            <dd/>@Html.DisplayFor(model => model.ocena)

        <dt/>@Html.DisplayNameFor(model => model.ocena_słowna)
            <dd/>@Html.DisplayFor(model => model.ocena_słowna)

        <dt/>@Html.DisplayNameFor(model => model.data_wystawienia)
            <dd/>@Html.DisplayFor(model => model.data_wystawienia)

        <dt/>@Html.DisplayNameFor(model => model.nazwa_przedmiotu)
            <dd/>@Html.DisplayFor(model => model.nazwa_przedmiotu)

        <dt/>@Html.DisplayNameFor(model => model.nazwisko_prowadzacego)
            <dd/>@Html.DisplayFor(model => model.nazwisko_prowadzacego)

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy ocen", "Index")
        </div>
    }
</div>
