﻿@model studia22.Models.Oceny

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły oceny</h2>

<div>
    <h4>Oceny</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt/> @Html.DisplayNameFor(model => model.ocena)
            <dd/>@Html.DisplayFor(model => model.ocena)

        <dt/>@Html.DisplayNameFor(model => model.ocena_słowna)
            <dd/>@Html.DisplayFor(model => model.ocena_słowna)

        <dt/>@Html.DisplayNameFor(model => model.data_wystawienia)
            <dd/>@Html.DisplayFor(model => model.data_wystawienia)

        <dt/>@Html.DisplayNameFor(model => model.nazwa_przedmiotu)
             <dd/>@Html.DisplayFor(model => model.nazwa_przedmiotu)

        <dt/>@Html.DisplayNameFor(model => model.nazwisko_prowadzacego)
            <dd/>@Html.DisplayFor(model => model.nazwisko_prowadzacego)

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.id_oceny }) |
    @Html.ActionLink("Wróć do listy ocen", "Index")
</p>
