﻿@model IEnumerable<studia22.Models.Oceny>

@{
    ViewBag.Title = "Index";
}

<h2>Lista ocen</h2>

<p>
    @Html.ActionLink("Dodaj ocenę", "Create")<br>
    @Html.ActionLink("Przejdź do listy studentów", "Index", "Studencis2/Index")
</p>
<table class="table">
    <tr>
        <th/>@Html.DisplayNameFor(model => model.ocena)
        <th/>@Html.DisplayNameFor(model => model.ocena_słowna)
        <th/>@Html.DisplayNameFor(model => model.data_wystawienia)
        <th/>@Html.DisplayNameFor(model => model.nazwa_przedmiotu)
        <th/>@Html.DisplayNameFor(model => model.nazwisko_prowadzacego)
    </tr>

@foreach (var item in Model) {
    <tr>
        <td/>@Html.DisplayFor(modelItem => item.ocena)
        <td/>@Html.DisplayFor(modelItem => item.ocena_słowna)
        <td/>@Html.DisplayFor(modelItem => item.data_wystawienia)
        <td/>@Html.DisplayFor(modelItem => item.nazwa_przedmiotu)
        <td/>@Html.DisplayFor(modelItem => item.nazwisko_prowadzacego)
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.id_oceny }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.id_oceny }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.id_oceny })
        </td>
    </tr>
}

</table>
