﻿@model studia22.Models.Studenci

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie studenta</h2>

<div>
    <h4>Studenci</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt/>@Html.DisplayNameFor(model => model.PESEL)
            <dd/>@Html.DisplayFor(model => model.PESEL)

        <dt/>@Html.DisplayNameFor(model => model.imie)
            <dd/>@Html.DisplayFor(model => model.imie)

        <dt/>@Html.DisplayNameFor(model => model.nazwisko)
            <dd/>@Html.DisplayFor(model => model.nazwisko)

        <dt/>@Html.DisplayNameFor(model => model.data_urodzenia)
            <dd/>@Html.DisplayFor(model => model.data_urodzenia)

        <dt/>@Html.DisplayNameFor(model => model.miejscowosc)
            <dd/>@Html.DisplayFor(model => model.miejscowosc)

        <dt/>@Html.DisplayNameFor(model => model.kierunek_studiow)
            <dd/>@Html.DisplayFor(model => model.kierunek_studiow)


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy studentów", "Index")
        </div>
    }
</div>
