﻿@model studia22.Models.Studenci

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>Studenci</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt/>@Html.DisplayNameFor(model => model.PESEL)
            <dd/>@Html.DisplayFor(model => model.PESEL)

        <dt/>@Html.DisplayNameFor(model => model.imie)
            <dd/>@Html.DisplayFor(model => model.imie)

        <dt/>@Html.DisplayNameFor(model => model.nazwisko)
            <dd/>@Html.DisplayFor(model => model.nazwisko)

        <dt/>@Html.DisplayNameFor(model => model.data_urodzenia)
            <dd/>@Html.DisplayFor(model => model.data_urodzenia)

        <dt/>@Html.DisplayNameFor(model => model.miejscowosc)
            <dd/>@Html.DisplayFor(model => model.miejscowosc)

        <dt/>@Html.DisplayNameFor(model => model.kierunek_studiow)
            <dd/>@Html.DisplayFor(model => model.kierunek_studiow)
    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.nr_albumu }) |
    @Html.ActionLink("Wróć do listy studentów", "Index")
</p>
