﻿@model IEnumerable<studia22.Models.Studenci>

@{
    ViewBag.Title = "Studenci";
}

<h2>Lista studentów</h2>

<p>
    @Html.ActionLink("Dodaj studenta", "Create")<br>
    @Html.ActionLink("Przejdź do ocen", "Index", "Ocenies/Index")
</p>
<table class="table">
    <tr>
        <th/>@Html.DisplayNameFor(model => model.PESEL)
        <th/>@Html.DisplayNameFor(model => model.imie)
        <th/>@Html.DisplayNameFor(model => model.nazwisko)
        <th/>@Html.DisplayNameFor(model => model.data_urodzenia)
        <th/>@Html.DisplayNameFor(model => model.miejscowosc)
        <th/>@Html.DisplayNameFor(model => model.kierunek_studiow)
    </tr>

@foreach (var item in Model) {
    <tr>
        <td/>@Html.DisplayFor(modelItem => item.PESEL)
        <td/>@Html.DisplayFor(modelItem => item.imie)
        <td/>@Html.DisplayFor(modelItem => item.nazwisko)
        <td/>@Html.DisplayFor(modelItem => item.data_urodzenia)
        <td/>@Html.DisplayFor(modelItem => item.miejscowosc)
        <td/>@Html.DisplayFor(modelItem => item.kierunek_studiow)
        <td>@Html.ActionLink("Edytuj", "Edit", new { id=item.nr_albumu }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.nr_albumu }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.nr_albumu })
        </td>
    </tr>
}

</table>
